body {
  font-family: 'Josefin Sans', sans-serif;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}
* {
  font-family: 'Josefin Sans', sans-serif;
}
.content {
  overflow: scroll;
}
h1, ul {
  margin: 0;
}
a, button {
  font-weight: bold;
}
.light-font {
  font-weight: 300 !important;
}
